.load-more {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 47%;
  border: 0;
  border-radius: 6px;
  color: #fff;
  background-color: #3f57b3;
  cursor: pointer;
}

.load-more:hover {
  background-color: #6276c5;
}
